POSTGRES_DB=simplified_banking
POSTGRES_USER=simplified_banking
POSTGRES_PASSWORD=simplified_banking
POSTGRES_PORT=5432

RABBITMQ_USERNAME=simplified_banking
RABBITMQ_PASSWORD=simplified_banking
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
